<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<router-outlet>
</router-outlet>

<div style="z-index:4 ;position:fixed; bottom:0; width:100%; margin-left:-8px;">
  <div fxLayout="row wrap">
  <span fxFlexAlign="left"  fxFlex="1 1 auto" fxLayout="row wrap">
      <span fxFlex="1 0 auto" class="test"   routerLink="/map" id="left">
        <span style="position: relative; top:12px; left:50%; margin-left: -12px">
          <i class="material-icons">language</i>
        </span>
      </span>
      <span fxFlex="1 0 auto" class="test"  routerLink="/home"  id="mid">
        <span style="position: relative; top:12px; left:50%; margin-left: -12px">
          <i class="material-icons">home</i>
        </span>
      </span>
      <span fxFlex="1 0 auto" class="test"  routerLink="/pic"  id="right">
        <span style="position: relative; top:12px; left:50%; margin-left: -12px">
         <i class="material-icons">person</i>
        </span>
      </span>
    </span>
</div>
</div>


