<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

<div fxLayout="column wrap">
  <div fxLayout="row wrap">
    <div id="head"  fxFlex="1 0 auto">
      <div id="addSettingButton">
        <i id="buttonSe" class="material-icons">settings</i>
      </div>
      <div  fxFlex="1 0 auto" id="titel">
        <div id="titeltext">
          Titeltext
        </div>
      </div>
      <div id="addPhotoButton">
        <i id="buttonPh" class="material-icons">camera</i>
      </div>
    </div>
  </div>

<div id="box" fxLayout="column" fxFlexAlign="center">
  <br>
  <img fxLayout="column" fxFlexAlign="center" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f7/Regular_quadrilateral.svg/220px-Regular_quadrilateral.svg.png" alt="Mountain View" id="placeholder">
  <br>
      <div id="bar" fxLayout="row" fxFlexAlign="center" fxFlex="1 0 auto">
        <div id="addbuttonS"  fxFlex="1 0 auto">
          <i  id="buttonS" class="material-icons">archive</i>
        </div>
        <div id="addbuttonL"  fxFlex="1 0 auto">
          <i  id="buttonL" class="material-icons">whatshot</i>
        </div>
        <div id="addbuttonC"  fxFlex="1 0 auto">
          <i  id="buttonC" class="material-icons">chat</i>
        </div>
        <br>
      </div>
  <br>
</div>


</div>
